@bcgcolor: linear-gradient(to right,#256199,#b82e2e,);
@bordercolor: #181616;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #5ccab2, #81adcf, #000000);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

svg {
    border: 2px solid black;
    background-color: white;
}

.wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
}